:root{
  --primary-black-color: #141414;
  --primary-white-color: #F5F7FA;
  --primary-green-color: #4CE563;
  --primary-red-color: crimson;

  --default-header-font-size: 8.25vh;

  --large-paragraph-font-size: 4vh;
}
